
<form id="test-form" class="white-popup-block mfp-hide">
		<fieldset>
			<h1>Form</h1>
				<label for="name">Ф.И.О</label>
				<input id="name" name="name" placeholder="Лучший Артем Леонидович" required="" type="text">
				<label for="email">Почта</label>
				<input id="email" name="email" placeholder="example@domain.com" required="" type="email">
				<label for="phone">Телефон</label>
				<input id="phone" name="phone" placeholder="095 999 66 44" required="" type="tel">
				<label for="textarea">Информация</label><br>
				<textarea id="textarea" cols="5" rows="3" placeholder="Возраст. Рост. Вес. Танцевальная подготовка, опыт. Почему к нам?"></textarea>
				<input type="button" value="Отправить">
				<a href="https://vk.com/vorobiov_a_p" class="wrAdm"><i class="fa fa-vk" aria-hidden="true">  Напиши в вк администратору</i></a>
	</fieldset>
</form>

<div id="communication">
	
	<h3 style="margin: 0 auto;">Form</h3>
	<%= form_for @contact do |f| %>

		<%= f.label :name %> <br>
		<%= f.text_field :name, required: true %>

		<br>

		<%= f.label :email %> <br>
		<%= f.email_field :email, required: true %>

		<br>

		<%= f.label :message %> <br>
		<%= f.text_area :message, as: :text %>

		<br>

		<%= f.submit "Send Message",  class: "button_small" %>

	<% end %>

</div>